{
  "bracketSpacing": true,
  "insertPragma": false,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-organize-imports"]
}
