dist: bionic

language: node_js

node_js:
  - "8"
  - "10"
  - "12"
  - "13"

notifications:
  email: false
  slack:
    secure: oNcH1wvJrNkHXVpFavKY4pgrG+9UlCnw0DEHJ3VUvgNaSRKDSvP1D94L/TviMeMttRlqmC9eRGdTqOSc/lp7+peeUTY/SBrP1M6xkxHPIk9K/bo0dVw/MgZxQM1oHAbJIlx5xCuf2Ag6qEAvMRuQX8HdMYOEnYOyd7ds9lsvndh5JsGq25K+NRnNxBBZuRP04w/KrLUFH2MggMeHydceM9gfMf/yMPQQm8Vd1Qz4s15vEPY0EaM230QlqF8jZiwUn0aIYBxMRNZ6kYKgSJSePJf5mx00Qs+4l6bJJQFaxWxnyrp0UmpNjEdt4rnX+CCZXr8nYs2+Eh6QBWhat5LaKFq3srjBXXErJ44h3mWyYBjLNxjLnL308P5/sy99xjeAx+Sd6cZBBEUIPJdCQy/2Q4LQZ+aCOc0j2yn+cJ6PG3ELt368BMRkdr061HbO6SMCxSU+wbFdFucRqmcSBJHWPDEWe1xYD0orY/7YaFF4mO/UMfcIpz5ee77NmZKqLs/RBrd1PJywxLQ1NX6aqJyzAtfSHGzdfFKC/CnB25MFKiYRRm7Eu1hXoO3xQbanAcnOoHxBCp0S5se/y9p8CNQZsYGTORAF61uogMkcaEYFSnTCQq7YkNLrbPiczZrzEl4rjy1Jybp1qHq0wipqb8GItSLK1cBy2BwLsnVDHIJJenw=
